coverage==7.4.1
ipykernel==6.22.0
joblib==1.2.0
matplotlib==3.6.3
multidict==6.0.4
numpy==1.22.4
pillow==9.2.0
ptyprocess
pyod==1.0.7
pytest==7.1.2
pytypes==1.0b10
pyyaml==6.0
regex==2022.10.31
scikit-learn==1.2
scipy>=1.7.2
seaborn==0.12.2
shap==0.41.0
torch==1.13.1
torchvision==0.14.1
